/* GLOBAL */
body {
  color: #66CDAA;
  
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

.container{
  width: 80%; 
  margin: auto;
  height: 50px;
}

/* Content e sticky são para fixar o header (Jorge e Bruno)  */
.content {
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

/* FIM GLOBAL */

/* HEADER & NAV */

.header{
  background-color: #363636;
  height: 80px;
  padding-top: 30px;
  border-bottom: #66CDAA solid 5px;
}
.header .nav .home, 
.header span{

  color: #66CDAA;
}
.header .nav .home, 
.header z{
  color: white;
}

.header .nav  img {
  width: 35px;
  margin-top: -21px;
  margin-left: 280px;
  position: absolute;
}

.engrenagem :hover {
  transition: 1s;
  width: 450px;
}

.title-header h1,
.nav ul
{
  margin: -5px;
}

.nav .home1 :hover{
  transition: 0.5s;
  color: #ffffff;
}


.nav .dashboard1 :hover {
  transition: 0.5s;
  color: #ffffff;
}

.nav .usuario1 :hover {
  transition: 0.5s;
  color: #ffffff;
}

.nav .dashboard1 {
  color: #ffffff;
}

.title-header{
  float: left;
  color: #ffffff;
  font-size: 23px;
  
}

.title-header .icone {
width: 80px;
margin:-80px 0px 0px 200px;
}

.nav{
  float: right;
  margin-top: 10px;
}

.nav a{
  text-decoration: none;
  color: #66CDAA;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}

/* FIM HEADER E NAV */

/* painel */

.painel {
  display: flex; 
  border: red 5px solid;
  margin: auto;
  margin-top: 5%;
  width: 82%;
  height: 300px;
}

.painel .box-iniciar {
  display: flex;
  flex-direction: column;
  border: blue 5px solid ;
  width: 50%;
}

.box-alerta {
  display: flex;
  flex-direction: column;
  border: green 5px solid;
  width: 50%;
}
/* box select */
.box-select {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0;
  border: #66CDAA solid;
  width: 75%;
  height: 25%;
}

.box-select select {
  margin-top: 5%;
  background: #66CDAA;
  width: 75%;
  height: 35px;
  border-radius: 20px;
}
/* select caixa */

.box-select .select-caixa {
  display: flex;
  flex-direction: column;
  border: red solid;
  width: 45%;
  text-align: center;
  align-items: center;
  color: black;
}

.box-select .select-caixa span {
  color: #66CDAA;
}
/* fim select caixa */

/* select orgao */
.box-select .select-orgao {
  border: red solid;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 30.5%;
  text-align: center;
  align-items: center;
  color: black;
}

.box-select .select-orgao span {
  color: #66CDAA;
}
/* fim select orgao */

/* fim box select */

/* tempo */

.box-iniciar .tempo {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0;
  border: red solid;
  font-size: 28px;
}

/* fim tempo */

/* botao */

.box-iniciar .botao-iniciar {
  margin: auto;
}

.box-iniciar .botao-iniciar button {

  font-size: 26px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  background: #66CDAA;
  
}

/* fim botao */

/* alerta */

.box-alerta {
  display: flex;
  flex-direction: column;
}

.alerta {
  margin: auto;
  height: 50%;
  background: red;
  color: black;

}

/* alerta */

/* .usuario {
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  color: white;
}

.usuario h3 {
  font-weight: 100;
} */

/* fim painel */


/* Parte do Bruno */

.containerdash { 
  width: 80%;
  margin: auto;
}
.dashboard {
  background-color: #ecf0f1;
  text-align: center;
  padding: 50px 0;
  width: 80%;
  height: 100%;
  margin: auto;
}

.dashboardcx {
  background-color: #ecf0f1;
  text-align: center;
  padding: 50px 0;
  height: 100%;
  margin: auto;
}
.dashboard h1 {
  margin-bottom: 40px;
}

.dashboard .input-padrao {
  width: 50%;
  display: inline-block;
}

.dashboard .btn-green {
  display: block;
  float: none;
  margin: auto;
}


.box-login {
  display: inline-block;
  background-color: white;
  box-shadow:  3px 3px 5px 2px #ccc;
  padding: 60px 20px 0px 20px;
  border-radius: 20px;
  width: 400px;
}

.dashboard .btn-green {
  display: block;
  float: none;
  margin: auto;
}
.caixa {
  border: 1px solid red;
  border-radius: 10px;
  display: block;
  width: 35%;
  margin: 10px 7%;
  height: 160px;
  float: left;
  text-align: center;

  background-color: white;
  box-shadow:  3px 3px 5px 2px #ccc;
  
}

.caixa .valores {
  margin:auto;
  overflow: auto;
}

.caixa .valores .valor {
  margin-left: 13%;
  width: 30%;
  float: left;
}

.caixa .alertas {
  width:100%;
  margin:auto;
  margin-top: 5px;
  overflow: auto;
}

.caixa .alertas .alerta {
  margin-left: 13%;
  width: 30%;
  float: left;
}
.caixa .alertas .alerta_umidd {
  margin-right: 13%;
  width: 30%;
  float: right;
}





/* fim parte do bruno */
